<!-- NOT ALLOWING THE USER TO SELECT INFO TO DISPLAY FOR THIS VERSION

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"Select Info To Display"</title>
</head>

<body>

<h1> Select up to XX pieces of information you would like on the box label</h1>
<form action = "http://localhost:5000/result" method = "POST">
  <ul>
    {% for n in my_list %}
       <input type="checkbox" id={{n}} name={{n}} value="True">
       <label for={{n}}> {{n}}</label><br>
    {% endfor %}
  </ul>
    <input type = "hidden", id="label_name", name="label_name", value={{label_name}}>
      <p><input type = "submit" value = "submit" /></p>
</form>


</body>
</html>

-->